html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.body-content {
  padding: 0 3em 3em 3em;
  font-size: 1.3rem;
}
.body-content p{
  max-width: 960px;
  line-height: 1.8em;
}
.body-content h2, .body-content h3, .body-content h4 {
  color: #0070f3;
}
ul li a {
  color: #0070f3;
  font-weight: bold;
}
ul li {
  margin-bottom: .5em;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #0070f3;
}
.portfolio-item {
  padding: 0 2em 1em 2em;
}
.portfolio-item img {
  max-width: 100%;
}
